div.gallery{
  display: inline-block;
  justify-content: space-between;
  margin: 5px;
  margin-left: 25px;
  margin-top: 10px;
  border: 1px solid #ff751a;
  width: 715px;
}
div.gallery:hover {
  border: 1px solid #ff751a;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
div.gallery img {
  width: 100%;
  height: auto;
}
.h1{
  color:#ccc;
  text-shadow: 4px 4px 4px #24262b;
  font-size: 4.5rem;
  text-align: center;
}
div.desc {
  padding: 15px;
  text-align: center;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
