h1{
  color: #ccc;
  text-shadow: 4px 4px 4px #24262b;
  text-align: center;
  font-size: 3.5rem;
}

.written-cont{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 250px;
  position: relative;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  left: 10%;
  margin: 30px;
  padding: 20px;
  color: black;
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  backdrop-filter: blur(10px);
}
.frame{
  width: 270px;
  height: 220px;
}
h2{
  color: darkred;
  font-size: 2.0rem;
}
.desc{
  left: 10px;
  color: darkblue;
  padding: 20px;
  position: relative;
  width: 900px;
  height: 250px;
}
